
.container-card {
    max-width: 1392px;
    height: auto;
    margin: 0 auto;
    padding: 77px 0 62px 0;
    background: #F6F6F6 ;
    border-radius: 24px;
    z-index: 2;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background: url(../../img/png/Vectorverticalwavestwo.png) no-repeat left ;
        left:0;
        top: 0;
        width: 453px;
        height: 856px;
        z-index: -1;
        @media (max-width: 767px){
            background: none;
        }
    }
    @media (max-width: 575px){
        padding: 40px 0 24px 0;
    }

    &::after{
        position: absolute;
        content: "";
        background: url(../../img/png/Vectorverticalwaves.png) no-repeat right ;
        right:0;
        top: 0;
        width: 313px;
        height: 856px;
        z-index: -1;
        @media (max-width: 767px){
            background: none;
        }
    }
}

.ben {

    &__card-img-mobile{
        display: none;
        @media (max-width: 575px){
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 22px;
            border-radius: 10px;
        }
    }

    &__after{
        position: relative;
        &::before{
            position: absolute;
            content:"";
            background: transparent url(../../img/png/Tablet.png) no-repeat bottom center;
            width:100%;
            height: 101%;
            bottom: -746px;
            z-index: -1;
            @media (max-width: 575px){
                display:none;
            }
        }
    }

    &::before{
        position: absolute;
        content: "";
        background: url(../../img/jpg/222bgRight.jpg) no-repeat left ;
        right:0;
        top: 1632px;
        width: 524px;
        height: 848px;
        z-index: -1;
        @media (max-width: 767px){
            background: url(../../img/jpg/222333.jpg) no-repeat right ;
            width: 213px;
            height: 345px;
            right:0;
            top: 2148px;
        }
    }

    &__title-wrap {
        display: flex;
        @media (max-width: 767px){
            justify-content: space-between;
        }
     }  

    &__title {
        font-family: SangBleu Kingdom;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 56px;
        color: #3D3C3C;

        margin:0 32px 59px 0;
        @media (max-width: 767px){
            font-size: 24px;
        }
        @media (max-width: 575px){
            margin: 0 0 32px 0;
        }
    }

    &__buttons {  //Кнопки смены слайдов
        margin-top: 15px;
        @media (max-width: 575px){
            margin-top:10px;
        }
    }

    &__left-bnt{       //ЛЕВАЯ КНОПКА
        background:  url(../../img/png/Leftbutton.png) left center;
        width: 40px;
        height: 40px;

        margin-right: 16px;

        &:active{
            transform: scale(0.9);
            transition: 0.2s;
        }

        &:hover{
            box-shadow: 0 0 5px 1px grey;
            border-radius: 50%;
        }
    }

    &__right-bnt{       //ПРАВАЯ КНОПКА
        background:  url(../../img/png/Rightbutton.png) left center;
        width: 40px;
        height: 40px;

        &:active{
            transform: scale(0.9);
            transition: 0.2s;
        }

        &:hover{
            box-shadow: 0 0 5px 1px grey;
            border-radius: 50%;
        }
    }

    &__main-card{   // Стили здесь
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        @media (max-width: 575px){
            text-align: start;
        }
    }

    &__content {   // Блок с карточками внутри, ЭТО ДЛЯ JS , должен быть display block
        
        -webkit-animation-name: fade;               //Анимация переключения слайдов
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
    }

    &__card {
        &:first-child{
            margin-right: 40px;
            @media (max-width: 767px){
                margin: 0 0 40px 0;
            }
        }     
    }

    &__card-img {
        margin-bottom: 22px;
        @media (max-width: 1199px){
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 575px){
            display: none;
        }
    }

    &__card-text {
        font-family: Euclid Circular B;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #666666;

        padding: 0 24px ;
        margin-bottom: 10px;
        max-width: 528px;
        @media (max-width: 1199px){
            padding: 0;
        }
    }

    &__card-more {
        font-family: Euclid Circular B;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #AB955E;
        position: relative;

        padding: 0 0 16px 24px ;
        @media (max-width: 575px){
            padding: 0;
            margin-bottom: 24px;
        }

        &::before{
            position: absolute;
            content:"";
            background: #AB955E right bottom;
            height: 2px;
            width: 16px;
            right:-24px;
            bottom:21px;
            @media (max-width: 575px){
                bottom:5px;
            }
        }

        &:hover{
            color:#666666;
        }
    }

    &__mid {  //Центральная колонка
        margin-right: 32px;
        @media (max-width: 767px){
            margin: 0 0 40px 0;
        }
    }

    &__mid-title {   //Заголовок в центре
        font-family: Euclid Circular B;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #999999;

        margin-bottom: 24px;
        @media (max-width: 575px){
            display: none;
        }
    }

    &__mid-text {  //Текст в центре
        font-family: Euclid Circular B;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #3D3C3C;

        margin-bottom: 49px;
        @media (max-width: 1199px){
            max-width: 200px;
        }
        @media (max-width: 767px){
            max-width: 80%;
            text-align: center;
            margin: 0 auto 40px auto;
        }
        @media (max-width: 575px){
            display: none;
        }
    }

    &__card-white{  //Модификатор последней карточки, белый фон
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(142, 124, 78, 0.16);
        border-radius: 8px;
        padding:8px 8px 16px 8px;
        max-height: 504px;
        transform: translateY(-112px);
        @media (max-width: 1199px){
            padding-right: 0;
        }
        @media (max-width: 991px) {
            padding-right: 8px;
            height: 410px;
        }

        @media (max-width: 767px){
            background-color: transparent;
            width: 100%;
            box-shadow: none;
            max-height: none;
            transform: translateY(0);
            margin-bottom: 40px;
            padding: 0;
        }
        @media (max-width: 575px){
            margin-bottom: 0;
        }
    }

    &__card-img-white{
        margin-bottom: 14px;
        @media (max-width: 1199px){
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 575px){
            display: none;
        }
    }
}



