.footer {

    text-align: center;
    padding-bottom: 103px;

    position: relative;
    &::before{
        position: absolute;
        content: "";
        background: transparent url(../../img/png/MriyaResort.png) no-repeat bottom center;
        width: 100%;
        height: 253px;
        left:0;
        bottom:405px;
    }

    &__pic-wrap {

    }
    
    &__logo {
        display: block;
        position: relative;
        z-index: 2;
        margin-top:649px ;
    }

    &__logo-pic {
    }
}
