@import "nullstyle.scss";

body{

    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    
    background:transparent url(../../img/png/flower_stroke.png) no-repeat right top;
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
    @media (max-width: 575px){
        background:transparent url(../../img/png/flower_strokemobile.png) no-repeat right top;
    }

    &::after {      //Для подгрузки изображений
        display: none;
        content: url(../../img/png/flower.png)
        url(../../img/png/flowertwo.png)
        url(../../img/png/flowerthree.png);
    }

    &::before{
        position: absolute;
        content: "";
        background:transparent  url(../../img/png/flower.png) no-repeat right top;
        right:0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        animation: changeBackground 30s infinite linear;
        @keyframes changeBackground{
            30%{
                background:transparent  url(../../img/png/flower.png) no-repeat right top;
            }
            35%{
                background:transparent url(../../img/png/flowertwo.png) no-repeat right top;
            }
            60%{
                background:transparent url(../../img/png/flowertwo.png) no-repeat right top;
            }
            65%{
                background:transparent url(../../img/png/flowerthree.png) no-repeat right top;
            }
            80%{
                background:transparent url(../../img/png/flowerthree.png) no-repeat right top;
            }
            95%{
                background:transparent url(../../img/png/flowerthree.png) no-repeat right top;
            }
        }
        @media (max-width: 575px){
            animation: none;
            background: transparent url(../../img/png/Intersectmobile.png)no-repeat right top;
            width: 100%;
            height: 100%;
            left: 0;
            top: -66px;
        }
    }
}

// Section---------->
@import "section.scss";




// Header---------->
@import "header.scss";

// Intro---------->
@import "intro.scss";

// Choose---------->
@import "choose.scss";

// Tabs---------->
@import "tabs.scss";

// Info---------->
@import "info.scss";

// Benefits---------->
@import "benefits.scss";

// Footer---------->
@import "footer.scss";









// Menu---------->
@import "menu.scss";

// MobileMenu---------->
@import "mobileMenu.scss";


// Slider---------->
@import "slider.scss";

// Breakpoints---------->
@import "breakpoints.scss";



